# dependencies
/node_modules

# build
/dist
*.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# uploads (local media storage)
/storage/uploads

# editor / os
.DS_Store
/.idea
/.vscode/*
!/.vscode/extensions.json

# claude code workspace (jangan dipublish)
/.claude
CLAUDE.md
